@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html,
body {
  overflow-x: auto;
  overflow-y: auto;
  background-color: unset;
  color-scheme: unset;
}
.sbdocs-content p,
.sbdocs-content h1,
.sbdocs-content h2,
.sbdocs-content h3,
.sbdocs-content li {
  color: #e5e5e5;
}

#storybook-docs .sbdocs {
  font-family: "Lato", sans-serif;
  color: #e5e5e5;
  background-color: #222425;
  padding: 1rem;
  overflow: auto;
}

.sbdocs-content ul {
  padding: 0.5rem 1.2rem;
}
.sbdocs-content li {
  padding: 0.2rem 0;
}
