@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-color: #060606;
  background-image: linear-gradient(180deg, #424242, #000);
  color: #e5e5e5;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
html {
  width: 100vw;
}

* {
  box-sizing: border-box;
}
