@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-color: #060606;
  background-image: linear-gradient(180deg, #340a3c, #265828 90%);
  color: #e5e5e5;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  transition: background-image ease 900ms;
}
html {
  width: 100vw;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.44em;
}
h3 {
  font-size: 1.95em;
}
h4 {
  font-size: 1.56em;
}
h5 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}
small {
  font-size: 0.85rem;
}
