@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html,
body {
  background-color: #121212;
  color: #e5e5e5;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}
html {
  width: 100%;
  min-width: 360px;
  color-scheme: dark;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  background: #181818;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}
p {
  margin: 0.8rem 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.44em;
}
h3 {
  font-size: 1.95em;
}
h4 {
  font-size: 1.56em;
}
h5 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}
small {
  font-size: 0.85rem;
}
